.Kbd {
  background-color: var(--Kbd-backgroundColor);
  border-color: var(--Kbd-borderColor);
  border-radius: var(--Kbd-borderRadius);
  border-style: var(--Kbd-borderStyle);
  border-width: var(--Kbd-borderWidth);
  color: var(--Kbd-color);
  font-size: var(--Kbd-fontSize);
  letter-spacing: var(--Kbd-letterSpacing);
  padding: var(--Kbd-padding);
  white-space: var(--Kbd-whiteSpace);
}
