.TextInput {
  background-color: var(--slate1);
  border-color: currentColor;
  border-style: solid;
  border-width: 1px;
}

.TextInput[type=search] {
  -webkit-appearance: none;
  outline-offset: 0;
}

.InputGroup {
  border: none;
  margin: 0;
  padding: 0;
}

.InputGroup > * + * {
  margin-left: -1px;
}
