---
layout: default
---

<div class="Grid Grid--withGutter">
  <div class="Grid-cell u-sizeFull u-sm-sizeFull u-md-size3of4 u-lg-size3of4">
    <article class="Markdown">
      <header>
        <h1>{{ page.title | escape }}</h1>
      </header>
      <div>
        {{ content }}
      </div>
    </article>
  </div>
  <div class="Grid-cell u-sizeFull u-sm-sizeFull u-md-size1of4 u-lg-size1of4">
    <div>
      <p>
        <a href="https://sive.rs/nowff">/now</a> page inspired by Derek Sivers.
      </p>
    </div>
  </div>
</div>
