---
layout: default
---

{%- assign search_domain = site.url | remove: "http://" -%}

<script>

var documents, idx;

async function readySearchDocuments() {
  let params = new URLSearchParams(document.location.search);
  let term = params.get("q") ? params.get("q") : "";
  let response = await fetch("{{ "/search.json" | relative_url }}")
  document.getElementById('search-input').value = term;

  documents = await response.json()
  setElementDisabled("search-fieldset", false);
  resetSearchForm();
  idx = lunr(function () {
    this.ref("id")
    this.field("title")
    this.field("body")
    documents.forEach(function (doc) {
      this.add(doc)
    }, this)
  });
  searchDocuments(term);
}

function removeElementAttr(id, val) {
  document.getElementById(id).removeAttribute(val);
}

function setElementDisabled(id, val) {
  document.getElementById(id).disabled = val;
}

function focusFormElement(id) {
  document.getElementById(id).focus();
}

function resetSearchForm() {
  resetSearchResults();
  focusFormElement("search-input");
}

function updateSearchResults(id, html) {
  document.getElementById(id).innerHTML = html;
}

function resetSearchResults() {
  updateSearchResults("search-results", "<ol class=\"SearchResults\"></ol>");
}

function readySearchForm() {
  removeElementAttr("search-input", "value");
  setElementDisabled("search-fieldset", true);
  updateSearchResults("search-results", "<div class=\"BlankSlate\">Preparing search index…</div>");
}

function searchDocuments(term) {
  resetSearchResults();
  if (term) {
    var results = idx.search(term);
    if(results.length>0){
      for (var i = 0; i < results.length; i++) {
        var ref = results[i]["ref"];
        var href = ("fragmentDirective" in document ? documents[ref]["url"] + "#:~:text=" + encodeURIComponent(term) : documents[ref]["url"]);
        var url = documents[ref]["url"].split("/").slice(3,-1).join(" › ");
        var title = documents[ref]["title"];
        var body = documents[ref]["body"].substring(0,320) + "…";
        document.querySelectorAll("#search-results ol.SearchResults")[0].innerHTML = document.querySelectorAll("#search-results ol.SearchResults")[0].innerHTML + "<li class=\"SearchResults-result\"><a class=\"SearchResults-link u-linkComplex\" href=\"" + href + "\"><address class=\"SearchResults-url\">" + url + "</address><h4 class=\"SearchResults-title u-linkComplexTarget\">" + title + "</h4><p class=\"SearchResults-description\">" + body + "</p></a></li>";
      }
      focusFormElement("search-submit");;
    }
    else {
      updateSearchResults("search-results", "<div class=\"BlankSlate\">No matches found.</div>");
      focusFormElement("search-input");;
    }
  }
  return false;
}

function onPageLoad() {
  readySearchForm();
  readySearchDocuments();
}

function updateSearchTerm(term) {
  history.pushState({ term: term }, document.title.replace('Search', 'Search results for “' + term + '”'), "?q=" + term);
}

function onFormReset() {
  history.pushState({ term: "" }, document.title, window.location.href.split('?')[0]);
  resetSearchForm();
}

function onFormSubmit() {
  let term = document.getElementById('search-input').value;
  updateSearchTerm(term);
  searchDocuments(term);
  return false;
}

window.addEventListener("popstate", (event) => {
  let term = ((event.state && event.state.term) ? event.state.term : "");
  document.getElementById('search-input').value = term;
  searchDocuments(term);
});

</script>

<div class="Grid Grid--withGutter">
  <div class="Grid-cell u-sizeFull u-sm-sizeFull u-md-size3of4 u-lg-size3of4">
    <div class="u-spaceStackLarge">
      <form action="https://html.duckduckgo.com/html" method="get" onsubmit="return onFormSubmit();"> <!-- searchDocuments(document.getElementById('search-input').value); -->
        <fieldset class="InputGroup u-flex u-flexAlignItemsStretch u-flexJustifyContentStretch" id="search-fieldset">
          <input autofocus class="TextInput u-size1of2" enterkeyhint="search" id="search-input" maxlength="255" name="q" placeholder="example: bicycle" type="search" value="site:{{ search_domain }} ">
          <button class="Button" id="search-clear" type="reset" onclick="return onFormReset();">Clear</button>
          <button class="Button" id="search-submit" type="submit">Search</button>
        </fieldset>
      </form>
      <div id="search-results">
        <div class="BlankSlate">
          <noscript>
            <p>Enter your search terms above after <kbd class="Kbd">site:{{ search_domain }}</kbd></p>
          </noscript>
        </div>
      </div>
    </div>
  </div>
  <div class="Grid-cell u-sizeFull u-sm-sizeFull u-md-size1of4 u-lg-size1of4">
    <div class="u-spaceStackLarge">
      {%- assign content = content | strip_newlines -%}
      {%- unless content == "" -%}
        <aside class="Aside">
          <div class="Markdown">
            {{ content }}
          </div>
        </aside>
      {%- endunless -%}
      <details class="Aside Details">
        <summary class="Details-summary">Help</summary>
        <div class="Details-details">
          <dl class="DescriptionList">
            <dt class="DescriptionList-term">Starts with</dt>
            <dd class="DescriptionList-description">
              <p>Return only pages containing words that start with “foo”, like “food” or “foolish”: <kbd class="Kbd">foo*</kbd></p>
            </dd>
            <dt class="DescriptionList-term">Field</dt>
            <dd class="DescriptionList-description">
              <p>Return only pages whose title contains “foo”: <kbd class="Kbd">title:foo</kbd></p>
            </dd>
            <dd class="DescriptionList-description">
              <p>Return only pages whose body contains “baz”: <kbd class="Kbd">body:baz</kbd></p>
            </dd>
            <dt class="DescriptionList-term">Term presence</dt>
            <dd class="DescriptionList-description">
              <p>Return only pages that contain “foo” and optionally “bar”, but do not contain “baz”: <kbd class="Kbd">+foo bar -baz</kbd></p>
            </dd>
            <dd class="DescriptionList-description">
              <p>Return only pages that contain both “foo” and “bar”: <kbd class="Kbd">+foo +bar</kbd></p>
            </dd>
            <dt class="DescriptionList-term">Fuzzy matching</dt>
            <dd class="DescriptionList-description">
              <p>Return only pages that contain words similar to “foo”, like “fob” and “zoo”: <kbd class="Kbd">foo~1</kbd></p>
            </dd>
            <dt class="DescriptionList-term">Boost</dt>
            <dd class="DescriptionList-description">
              <p>Return: <kbd class="Kbd">foo^10 bar^5 baz</kbd></p>
            </dd>
          </dl>
        </div>
      </details>
    </div>
  </div>
</div>
<script>
  onPageLoad();
</script>
